body {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin-top: 30px;
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-align: center;
    margin: 40px;
}

img {
    width: 180px;
}

.rps-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}

.button :hover {
    box-shadow: 2px 2px 5px grey;
    scale: 1.02;
}

#results {
    display: flex;
    align-items: center;
    margin-top: 50px;
}

#score {
    display: flex;
}

#score p {
    flex: auto; 
}

.p-results {
    flex: auto; 
    width: 180px;
    margin: 0;
    padding: 15px;
}

.p-choice {
    flex: auto; 
    width: 180px;
    margin: 0px;
}

.imgChoice {
    width: 150px;
    height: 150px;
}

.score-player {
    text-align: left;
}

.score-computer {
    text-align: right;
}

